<a href="https://colab.research.google.com/github/gedeon129/Data-110/blob/main/DATA205_Spring2025_Homework7_Ifreador_Aziagbe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sqlite3

# New Section

Part A: Creating a SQL database

In [2]:


# The variable should be assigned first before using it for other operations
athlete_events_df = pd.read_csv('/content/athlete_events.csv', on_bad_lines='skip')
print(athlete_events_df.info())
display(athlete_events_df.head( )) # Display the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
host_city_locations_df= pd.read_csv('/content/host_city_locations.csv', on_bad_lines='skip')
host_city_locations_df.info()
host_city_locations_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    52 non-null     int64
 1   Season  52 non-null     object
 2   City    52 non-null     object
 3   lon     52 non-null     float64
 4   lat     52 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.2+ KB

   Year  Season       City        lon        lat
0  1896  Summer     Athina  23.727539  37.983810
1  1900  Summer      Paris   2.352222  48.856614
2  1904  Summer  St. Louis -90.199404  38.627003
3  1906  Summer     Athina  23.727539  37.983810
4  1908  Summer     London  -0.127758  51.507351

In [4]:
# Create a connection to the SQLite database
conn = sqlite3.connect('olympics.db')

c = conn.cursor()
c.execute('DROP TABLE IF EXISTS athlete_events')
conn.commit()

# Define a query
# Triple quotes (''') denote multiline strings
create_table_query = '''
CREATE TABLE IF NOT EXISTS athlete_events (
    ID INT,
    Name TEXT,
    Sex TEXT,
    Age INT,
    Height REAL,
    Weight REAL,
    Team TEXT,
    NOC TEXT,
    Games TEXT,
    Year INT,
    Season TEXT,
    City TEXT,
    Sport TEXT,
    Event TEXT,
    Medal TEXT
)
'''

c.execute(create_table_query)
conn.commit()
conn.close()

Part a : Creating A SQL  database

A

In [5]:
# Create (or connect to) the SQLite database
conn = sqlite3.connect("olympics.db")

# Create a cursor object
cursor = conn.cursor()
# Create the host_city_locations table
cursor.execute('''
CREATE TABLE IF NOT EXISTS host_city_locations (
    city TEXT PRIMARY KEY,
    country TEXT,
    latitude REAL,
    longitude REAL
);
''')

c.execute
conn.commit()
conn.close()

In [6]:


# Connect to the database
conn = sqlite3.connect("olympics.db")

# Load DataFrame into SQLite
athlete_events_df.to_sql("athlete_events", conn, if_exists="replace", index=False)

conn.close()

print("Data successfully loaded into athlete_events table.")

Data successfully loaded into athlete_events table.

B
1.	How many records are in athlete events?

How many different athletes competed in Olympics held in London?

In [7]:
conn = sqlite3.connect("olympics.db")

query = "SELECT COUNT(*) FROM athlete_events"
count = pd.read_sql(query, conn)

conn.close()

print("Total records in athlete_events:", count.iloc[0, 0])

Total records in athlete_events: 271116

2.	How many different athletes competed in Olympics held in London?

In [8]:

conn = sqlite3.connect("olympics.db")
query = """
SELECT COUNT(DISTINCT Name)
FROM athlete_events
WHERE [City] = 'London';
"""

display = pd.read_sql(query, con=conn)

print(display)

#Close the connection
conn.close()

   COUNT(DISTINCT Name)
0                 16924

3/ Which Olympics host city is furthest north?

In [9]:
olympic_query = """
SELECT MAX(lat), City
FROM host_city_locations;
"""

with sqlite3.connect("olympics.db") as conn:
    olympic_query_result = pd.read_sql_query(olympic_query, conn)
    # The built-in display function is replaced with 'display' variable which is of type DataFrame.
    # Instead of calling display function print is used to display the dataframe.
    print(olympic_query_result)
    print(f'{olympic_query_result.iloc[0, 1]} is the northersnmost city ({round(olympic_query_result.iloc[0,0])})')

    MAX(lat)         City
0  61.115271  Lillehammer
Lillehammer is the northersnmost city (61)

4/  List of all unique host cities

What is the list of host cities (with no duplicates)?

In [10]:

conn = sqlite3.connect("olympics.db")
query = """
SELECT DISTINCT City FROM host_city_locations
"""
result = pd.read_sql(query, con=conn)
print(result)

                      City
0                   Athina
1                    Paris
2                St. Louis
3                   London
4                Stockholm
5                Antwerpen
6                 Chamonix
7                Amsterdam
8             Sankt Moritz
9              Los Angeles
10             Lake Placid
11                  Berlin
12  Garmisch-Partenkirchen
13                Helsinki
14                    Oslo
15       Cortina d'Ampezzo
16               Melbourne
17            Squaw Valley
18                    Roma
19               Innsbruck
20                   Tokyo
21             Mexico City
22                Grenoble
23                  Munich
24                 Sapporo
25                Montreal
26                  Moskva
27                Sarajevo
28                 Calgary
29                   Seoul
30               Barcelona
31             Albertville
32             Lillehammer
33                 Atlanta
34                  Nagano
35                  Sydney
36          Salt Lake City
37                  Torino
38                 Beijing
39               Vancouver
40                   Sochi
41          Rio de Janeiro

In [11]:
# Close the connection
conn.close()